*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-color: rgb(228, 221, 221);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}
.macro{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.texto{
    width: 100%;
}
img{
    width: 70%;
    height: 300px;
    border-radius: 8px;
    margin-left: 100px;
}
input,select, button{
    padding: 8px;
}
.tabela{
    width: 50vw;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    text-align: center;
}
.container-calculadora{
    margin-top: 50px;
    background-color: white;
    width: 50vw;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8px;
    gap: 5px;
}
@media(min-width: 1024px){
    .macro{
        width: 50vw;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}
@media(min-width){
    .macro{
        width: 50vw;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .macro img{
       text-align: center;
    }
    .texto{
    margin-left: 50px;
    }
    
}
@media(max-width: 500px){
    .container-calculadora{
        width: 80vw;
        height: auto;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .tabela{
        width: 80vw;
    }
    .macro{
        width: 80vw;
    }
    .texto{
        width: 100%;
    }
    img{
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }
}
